.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

.footer {
  padding-top: 2rem;
  background-color: blue;
}

section {
  padding-top: 5rem;
}
